.leaflet-control.elevation .background{
	background-color:#D8D8D8;
	background-color:rgba(255, 255, 255, 0.8);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.leaflet-control.elevation  .axis path,
.leaflet-control.elevation  .axis line {
	fill: none;
	stroke: #000;
}

.leaflet-control.elevation  .area {
	fill: steelblue;
}

.leaflet-control.elevation  .link.dragline {
	pointer-events: none;
	stroke-width:1;
	stroke:black;
}